*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.top{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 25%;
  width: 100%;
  margin-bottom: 5vh;
}

.card{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 35vh;
  width: 60%;
  border: 2px solid rgb(255, 255, 255);
  border-radius: 5px;
}

.bottom{
  height: 75%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  gap: 4vh;
}

.flex-column{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.flex{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.row{
  width: 45vw;
}