*{
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
}

.top{
  margin-top: 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 7vh;
  width: 98vw;
  margin-bottom: 4vh;
}

.card{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 35vh;
  width: 50vw;
  border: 2px solid rgb(255, 255, 255);
  border-radius: 5px;
  margin-bottom: 4vh;
}

body{
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.flex-column{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.flex{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.row{
  width: 45vw;
}

#home{
  position: fixed;
  left: 1vw;
  top: 2vh;
}

form{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 60vh;
  width: 35vw;
  border: 2px solid white;
  margin-top: 10vh;
  border-radius: 5px;
}

form div{
  width: 20vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.buttons{
  width: 15vw;
}

.loading-bar {
  height: 5px;
  background-color: #007bff;
  animation: loadingAnimation 1.5s linear forwards;
}

@keyframes loadingAnimation {
  0% { width: 0; }
  50% { width: 50%; }
  100% { width: 100%; }
}